body{
    background-attachment: fixed;
    background-image: url("/Images/back.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin: auto;
    align-items: center;
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color: yellow;
    align-content: center;
    justify-content: center;
    text-align: center;
    top: 30px;
}


.header{
    width: 320px;
    height: 220px;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background-color: black;
    box-shadow: 5px 5px 10px #80e4e4;
    padding: 70px 30px;
    opacity: 0.8;
    border-radius: 10px;
    opacity: 0.5;
}

.header a{
    margin:auto;
    padding:10px;
    text-decoration: none;
    color: yellow;
    font-size: 22px;
    position: absolute;
    top:12px;
    right: 10px;
    bottom: 10px;
    align-items: center;
    margin: auto;
    justify-content: center;
    opacity: none;
    font-weight: bold;
    cursor:pointer;
}

.login-link-logo{
    width:30px;
    height:30px;
    border-radius:50%;
    position: absolute;
    top: 9px;
    right: 70px;
    bottom: 10px;
    cursor: hand;
}



